<h1>Редактирование пользователя</h1>

<pre>{{userData}}</pre>
<br>
<form action="/users/edit" method="post">
    <div class="form-group">
        <label for="name">ФИО:</label>
        <input type="text" name="name" value="{{userData.name}}" class="form-control" id="name">
    </div>
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" name="email" value="{{userData.email}}" class="form-control" id="email">
    </div>

    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" name="username" value="{{userData.username}}" class="form-control" id="username">
    </div>
    {{#if errors}}
        {{#each errors}}
            <div class="alert alert-danger">{{msg}}</div>
        {{/each}}
    {{/if}}
    <button type="submit" class="btn btn-default">Submit</button>
</form>
